.scroll {
    mask-repeat: repeat-x;
    white-space: pre;

    text-decoration: none;
    font-family: FiveBySeven;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    animation: scrollGlow 5s linear infinite;

    position: relative;
    top: 0.1em;

    display: inline-block;
}

.titleBar {
    background-color:rgb(28, 90, 115);
    width: 100%;
    padding: 6px;
    border-top: 10px;
    border-bottom: 10px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(22, 70, 90);
    position: absolute;
    overflow: hidden;
}

@keyframes tvGlow {
    from {
        opacity: 100%;
    }
    50% {
        opacity: 90%;
    }
    to {
        opacity: 100%;
    }
}

.tv {
    width:500px;
    position: absolute;
}